<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace指定你要实现的mapper接口全名 -->
<mapper namespace="AdminMapper">
    <!--标签名是操作方式，id与接口中方法名一致 resultType指定返回值类型的全名-->
    <select id="getEmployee" resultType="Employee">
       select * from employee where id = #{id};
    </select>

    <update id="updateEmployee">
        update employee set name = #{name} where id = #{id};
    </update>

    <insert id="addEmployee">
       insert into employee(id, name, dept_id) values (#{id}, #{name}, #{did});
    </insert>

    <delete id="deleteEmployee">
        delete from employee where id = #{id};
    </delete>

    <select id="getCourse" resultType="Course">
        select * from course where course_id = #{cid};
    </select>

    <update id="updateCourse">
        update course set title = #{title} where title = #{title}
    </update>

    <insert id="addCourse">
        insert into course(course_id, title, instructor_id) values (#{cid}, #{title}, #{iid})
    </insert>

    <delete id="deleteCourse">
        delete from course where course_id = #{cid};
    </delete>

    <select id="getTestRecord">
        select * from test_record where employee_id = #{id};
    </select>

    <select id="getLog">
        select * from log where log_id = #{lid};
    </select>

    <insert id="addLog">
        insert into log(content) values(#{content});
    </insert>

</mapper>
