<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace指定你要实现的mapper接口全名 -->
<mapper namespace="com.db_project.dao.EmployeeMapper">
    <!--标签名是操作方式，id与接口中方法名一致 resultType指定返回值类型的全名-->
    <select id="getEmployeeById" resultType="com.db_project.model.Employee">
        select * from employee where id = #{id};
    </select>
    <select id="getDept" resultType="com.db_project.model.Department">
        select * from department where dept_id = #{id};
    </select>

    <update id="update">
        update employee set name = #{new_name}, gender = #{gender}, age = #{age},
                            city = #{city}, email= #{email}, phone_number= #{phone}
        where id = #{id};
    </update>

    <select id="getCourse">
        select course.course_id, course.title as name, course.content, instructor.name, takes.is_passed as status
        from course, takes, instructor
        where course.course_id = takes.course_id
          and instructor.employee_id = course.instructor_id
          and takes.employee_id = #{id};
    </select>

    <select id="getTestRecords" resultType="TestRecord">
        select course.course_id, course.title, test_record.score
        from test_record, course
        where test_record.employee_id = #{id}
          and test_record.course_id = course.course_id;
    </select>
</mapper>
