<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace指定你要实现的mapper接口全名 -->
<mapper namespace="com.db_project.dao.InstructorMapper">
    <!--标签名是操作方式，id与接口中方法名一致 resultType指定返回值类型的全名-->

    <select id="getInstructor" resultType="Instructor">
        select * from instructor where employee_id = #{iid};
    </select>

    <select id="getStudents" resultType="Takes">
        select takes.* from takes, course where course.instructor_id = #{iid}
                                        and takes.course_id = course.course_id;
    </select>

    <update id="setCompleted">
        update takes set completed = 1 where employee_id = #{id} and course_id = #{cid};
    </update>

    <update id="setPassed">
        update takes set is_passed = 1 where employee_id = #{id} and course_id = #{cid};
    </update>

    <insert id="addTestRecord">
       insert into test_record(course_id, employee_id, score)
                    values (#{cid}, #{id}, #{score});
    </insert>

    <insert id="associateCourse">
        insert into course_to_dept values (#{cid}, #{did}, #{required})
    </insert>

    <select id="getEmployeesByDid" resultType="Employee">
            select * from employee where dept_id = #{did}
    </select>

    <insert id="addTakes">
        insert into takes(employee_id, course_id) values(#{id}, #{cid})
    </insert>
</mapper>
